#Ali-Stone {
  text-align: center;
  padding-top: 25px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.75em;
}

#nyc-based-actress {
  font-family: 'Oswald', sans-serif;
  font-size: medium;
  margin-top: 5px;
  letter-spacing: 2px;
  color: gray;
  text-align: center;
  padding: 2px;
}

#navBarDiv {
  background: black;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  height: 100vh;
  margin: 0 35px;
  text-align: center;
}

#navBarDiv :last-child {
  border: none;
}

.nav-link {
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid white;
  width: 50%;
  align-self: center;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

#homepage-img {
  width: 100%;
  padding-top: 10px;
  position: fixed;
}

#header-div {
  margin-bottom: 10px;
}

#vids {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#flex-imgs-cont {
  display: flex;
  flex-direction: row;
}

.headshot {
  width: 100%;
  transform: rotate(270deg);
  margin-top: 50px;
  border: 4px solid black;
  margin-bottom: 20px;
}

#footer-txt {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: small;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  padding: 4px 0;
}
